{% extends 'redirect/base.html' %}
{% load staticfiles %}
{% block title %}
轉址
{% endblock %}
{% block body %}
<div class="container">
    <h1>雲段運算作業：轉址器</h1>
    <div class="well">
        <form action="" method="post">
            {% csrf_token %}
            {% for item in form %}
                {% if item.errors %}
                    {{ item.errors }}
                {% endif %}
                <div class="col-lg-6 input-group input-group-lg">
                    <input class="form-control" name="{{ item.html_name }}" type="text" placeholder="http://example.com"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">轉址!</button>
                    </span>
                </div>
            {% endfor %}
        </form>
    </div>
    {% if answer %}
        <div class="well">
            <h3>你的轉址是<a href="{{answer}}">{{answer}}</a></h3>
                <div class="col-lg-6 input-group input-group-lg">
                    <input class="form-control" id="converted_url" type="text" value="{{ answer }}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="copy_converted">複製下來!</button>
                    </span>
                </div>
        </div>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading"> 最近五個轉址</div>
        <table class="table table-hover">
            <tr><th>網址</th><th>轉址</th><th>最後使用日期</th><th>使用次數</th></tr>            
        {% for item in first_5 %}
            {% url 'redirect:redirect' redirect_hash=item.hash as shortened_url %}
            <tr>
                <td><a href="{{ shortened_url }}">{{ item.full_url|truncatechars:50 }}</a></td>
                <td><a href="{{ shortened_url }}">{{ shortened_url }}</a></td>
                <td>{{item.last_used}}</td>
                <td>{{item.use_count}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block post_script %}
<script type="text/javascript" src="{% static 'redirect/zclip/jquery.zclip.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#copy_converted').zclip({
        path:"{% static 'redirect/zclip/ZeroClipboard.swf' %}",
        copy:function(){return $('#converted_url').val();},
        afterCopy:function(){;},
    });
    // The link with ID "copy-dynamic" will copy the current value
    // of a dynamically changing input with the ID "dynamic"
});
</script>
{% endblock %}
