{% extends 'redirect/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
     <div class="panel panel-primary">
        <div class="panel-heading">{%block statistic_name %}{% endblock %}</div>
        <table class="table table-hover">
            <tr><th>網址</th><th>轉址</th><th>建立日期</th><th>最後使用日期</th><th>使用次數</th></tr>            
        {% for item in latest_URLs %}
            {% url 'redirect:redirect' redirect_hash=item.hash as shortened_url %}
            <tr>
                <td><a href="{{ shortened_url }}">{{ item.full_url|truncatechars:50 }}</a></td>
                <td><a href="{{ shortened_url }}">{{ shortened_url }}</a></td>
                <td>{{item.date_created}}</td>
                <td>{{item.last_used}}</td>
                <td>{{item.use_count}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
