{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        {% block headend %}
        {# insert your css here!! #}
        {% endblock %}
    </head>
    <body>
        {% block navibar %}
        {% endblock %}
{% if messages %}
{% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ msg }}</h4>
        </div>
{% endfor %}
{% endif %}
        {% block body %}
        {% endblock %}
        <script src="{% static 'jquery/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {%block post_script%}
        {% endblock %}
    </body>
</html>

 
